<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        P{
            margin-top: 600px;
        }
        body {
        background-color: blue;
      }
      h1{
          color: red;
      }
    </style>
</head>
<body>
    
    <div class="modal-body">
<form align="center" class="my-8">
    <h1>Customer details</h1>
    <br><br>
    Name  <input type="text">
    <br><br><br>
    User Id  <input type="text">
    <br><br><br>
    Contect No. <input type="text">
    <br><br><br>
    Gender <input type="radio" id="male" name="gender" value="male">
    <label for="male">Male</label>
    <input type="radio" id="female" name="gender" value="female">
    <label for="female">Female</label><br><br><br>
    Address <textarea name="message" rows="5" cols="20"></textarea><br><br><br>
    <div class="mx-8"></div>
    <button class="btn btn-primary" data-toggle="modal" data-target="#loginModal"><a href="/requarement">Next</button></a>
</form>
    </div>
</body>
</html>