<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        P{
            margin-top: 600px;
        }
        body {
            background-color: blue;
          }
    </style>
</head>
<body>
    <form align="center" class="my-8">
        <h1>Transport and Payment Details </h1>
    <label for="veg">Type of vegitable:</label>
    <select id="veg" name="vegs">
        <option value="onion">Onion</option>
        <option value="patato">Patato</option>
    </select><br><br>
    No. of Packet <input type="text">
    <br><br>
    <form action="/action_page.php">
        <label for="birthday">Date of Submit:</label>
        <input type="date" id="birthday" name="birthday">
    </form><br><br>
    <form action="/action_page.php" align="center">
        <label for="birthday">Date of Delavery:</label>
        <input type="date" id="birthday" name="birthday">
    </form><br><br>
    Amount <input type="text"><br><br>
    <label for="veg" align="center">Vachile Type:</label>
    <select id="veg" name="vegs">
        <option value="onion">3 Willer</option>
        <option value="patato">4 Willer</option>
    </select><br><br>
    Driver Name <input type="text" align="center"><br><br>
    Driver contect no. <input type="text"><br><br>
    <button class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Next</button>


    

      
      
    
    
    </form>
</body>
</html>