<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/base.css">
    <title>details</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
</head>

<body>

    <form method="POST" class="container" action="{%url 'requarement'%}">
        {% csrf_token %}
        <h1>Customer details</h1>
        <div class="form-group" class='col-sm-2'>
            <label for="nama1">Name</label>
            <input type="text" class="form-control" name="name">
        </div>
        
        <div class="form-group">
            <label for="email1">Email</label>
            <input type="email" class="form-control" name="email">
        </div>
        
        <div class="form-group">
            <label for="contact">Contact No.</label>
            <input type="text" class="form-control" name="con">
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
        <div class="form-check form-check-inline">    
            <input class="form-check-input" type="radio" name="gen" value="option1">
            <label class="form-check-label">Male</label>
        </div>    
        <div class="form-check form-check-inline">    
            <input class="form-check-input" type="radio" name="gen" value="option2">
            <label class="form-check-label">Female</label>
        </div>    
        <div class="form-group">
            <label for="address">Address</label>
            <input type="textarea" class="form-control" name="add">
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" name="details">Next</button>
        </div>
    </form>
    
</body>

</html>